* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  height: 100vh;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page {
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.banner-image {
  width: 100%;
}

.banner-heading {
  font-size: 45px;
  line-height: 55px;
  color: green;
}

.instuctions {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  color: rgb(0, 171, 186);
}

button.start-quiz {
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.15s;
}

button.start-quiz:hover {
  scale: calc(1.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

button.start-quiz:active {
  scale: calc(1.03);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  background-color: rgb(2, 149, 2);
}

/*=========== QUIZ SECTION ============*/
.quiz-box {
  height: 100%;
  width: 90%;
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quiz-box h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
}

.quiz-box .options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: fit-content;
  padding: 5% 0;
}

.quiz-box .options button {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  border: 2px solid rgba(143, 143, 143, 0.553);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0 0 0 0.3);
  background-color: transparent;
  display: flex;
  justify-content: left;
  position: relative;
  line-height: 60px;
  vertical-align: center;
  transition: all 0.15s;
  margin: 5px 0;
}

.quiz-box .options button:hover {
  font-size: 21px;
  border-width: 2px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.quiz-box .options button.selected {
  border-color: #287f68;
  font-size: 21px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.quiz-box .options button.selected .option-alphabet {
  background-color: #d0f0e5;
}

.quiz-box .options button .selected-feedback {
  display: none;
}

.quiz-box .options button.selected .selected-feedback {
  display: inline-block;
  background-color: #d0f0e5;
  color: rgb(115, 114, 114);
  position: absolute;
  top: 17px;
  right: 13px;
  font-size: 12px;
  padding: 0 15px;
  line-height: 30px;
  border: none;
  border-radius: 15px;
}

.quiz-box .options button .option-alphabet {
  background-color: #eff1f3;
  width: 60px;
  margin: 2px;
  border-radius: 7px;
  text-align: center;
}

.quiz-box .options button .option-text {
  padding-left: 18px;
  padding-top: 2px;
}

.quiz-box .quiz-footer-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  border-top: 2px solid rgba(0, 0, 0, 0.272);
  padding-top: 5%;
}

.quiz-box .quiz-footer-buttons button {
  color: white;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  width: 110px;
  transition: all 0.15s;
}

.quiz-box .quiz-footer-buttons button:hover {
  scale: 1.1;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
}
.quiz-box .quiz-footer-buttons button:active {
  scale: 1.05;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.quiz-footer-buttons button.previous-btn,
.quiz-footer-buttons button.submit-btn {
  background-color: transparent;
  color: black;
  border: 2px solid gainsboro;
}

.quiz-footer-buttons button.previous-btn:hover {
  background-color: rgba(0, 0, 0, 0.741);
  color: white;
  box-shadow: none;
}

.quiz-footer-buttons button.previous-btn:active {
  background-color: rgba(0, 0, 0, 0.877);
  color: white;
}

.quiz-footer-buttons button.next-btn {
  background-color: green;
}
.quiz-footer-buttons button.next-btn:hover {
  background-color: rgb(2, 159, 2);
  color: white;
}
.quiz-footer-buttons button.next-btn:active {
  background-color: rgb(1, 138, 1);
  color: white;
}

.quiz-footer-buttons button.submit-btn:hover {
  background-color: #318fe9;
  color: white;
  box-shadow: none;
}
.quiz-footer-buttons button.submit-btn:active {
  background-color: #007aed;
  color: white;
}
.quiz-box {
  display: none;
}

/* ====== RESULT SECTION STYLING ==========*/

.result-box {
  display: none;
  margin: 50px 0px;
  height: 100%;
}

.result-box .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-box h2 {
  text-align: left;
  font-size: 40px;
  color: #1d925a;
  flex: 1.8;
  padding-top: 10px;
}

.result-box .navigation-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

button.restart-quiz,
button.home-btn {
  font-size: 15px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.15s;
}

button.restart-quiz:hover,
button.home-btn:hover {
  scale: calc(1.02);
  box-shadow: 2px -2px 7px rgba(0, 0, 0, 0.15);
}

button.restart-quiz:active,
button.home-btn:active {
  scale: calc(1.01);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  background-color: rgb(2, 149, 2);
}

.statistics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;
  padding: 10px;
  border: 2px solid green;
  border-radius: 10px;
}

.text-statistics {
  display: flex;
}

.stat-titles {
  font-weight: 600;
  color: green;
}

.stat-title-data {
  margin: 12px;
}

.stat-data {
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.714);
  font-weight: 500;
  font-size: 15px;
}

.stat-data-detail {
  border: 1px solid gainsboro;
  padding: 3px;
  margin: 5px;
  text-align: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 150px;
}

.virtual-statistics {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}

.accuracy {
  width: 130px;
  height: 130px;
  background-image: conic-gradient(
    green 0%,
    green 90%,
    rgb(232, 232, 232) 90%,
    rgb(232, 232, 232) 100%
  );
  border-radius: 50%;
  position: relative;
}

.accuracy::before {
  content: "";
  width: 70%;
  height: 70%;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.accuracy-percentage {
  z-index: 1;
  color: green;
  position: absolute;
  top: 53%;
  left: 53%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 20px;
}

.accuracy-text {
  z-index: 1;
  color: green;
  position: absolute;
  bottom: -35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 15px;
}

.questionBox {
  border: 2px solid gainsboro;
  border-radius: 8px;
  padding: 20px;
  margin: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.result-question {
  font-weight: 500;
  font-size: 18px;
}

.result-options {
  color: rgba(0, 0, 0, 0.468);
  font-weight: 500;
  font-size: 18px;
  margin-left: 8px;
}

.result-option {
  padding: 10px 15px;
  line-height: 20px;
}

.result-option-selected {
  background-color: #d8e9fb;
  color: #318fe9;
  font-weight: 600;
  width: max-content;
  border-radius: 10px;
}

hr {
  margin: 20px;
}

.correct-notification {
  color: #00bf64;
  font-size: larger;
  display: block;
}

.incorrect-notification {
  color: #ff0021;
  font-size: larger;
  display: block;
}

.empty-notification {
  color: #318fe9;
  font-size: larger;
  display: block;
}

.feedback-message {
  color: rgba(130, 75, 5, 0.771);
  font-weight: 400;
  font-size: 15px;
  margin-left: 8px;
  line-height: 10px;
}
